In [1]:
%sql
select * from nycdatah_csv;
select sum(passenger_count) as pc,PULocationID from nycdatah_csv group by PULocationID order by pc asc

pc,PULocationID
1.0,247
1.0,89
1.0,171
1.0,159
1.0,42
1.0,223
1.0,125
1.0,152
1.0,88
1.0,49
1.0,37
1.0,40
1.0,100
1.0,25
1.0,18
1.0,82
1.0,145
2.0,92
2.0,146
2.0,213
2.0,7
2.0,52
2.0,244
2.0,179
2.0,95
3.0,257
3.0,256
3.0,65
3.0,80
3.0,226
4.0,45
4.0,24
5.0,261
5.0,21
5.0,224
6.0,112
6.0,41
6.0,193
6.0,255
6.0,138
6.0,83
7.0,87
7.0,75
7.0,158
9.0,209
9.0,230
10.0,166
11.0,211
11.0,163
11.0,116
11.0,181
11.0,232
12.0,186
13.0,74
15.0,13
16.0,68
16.0,246
21.0,4
22.0,164
22.0,144
22.0,233
23.0,262
24.0,143
25.0,50
26.0,162
27.0,140
28.0,151
29.0,137
30.0,113
30.0,148
31.0,132
32.0,43
35.0,231
36.0,264
38.0,170
38.0,114
39.0,90
40.0,107
42.0,234
43.0,263
45.0,229
47.0,249
50.0,161
50.0,79
51.0,238
59.0,48
67.0,236
71.0,141
71.0,239
71.0,142
76.0,237

In [2]:
file_location = "/FileStore/tables/nycdata.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df1 = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

#display(df1)

In [3]:
df1.printSchema

In [4]:
#agr=sum('passenger_count').alias('as')
import pyspark.sql.functions as func
df1.groupBy('PULocationID').sum('passenger_count').orderBy('sum(passenger_count)').select('PULocationID',func.col("sum(passenger_count)").alias("as")).show()

In [5]:
%sql
select count(distinct(tpep_pickup_datetime)) from nycdatah_csv;
select tpep_pickup_datetime,sum(total_amount),VendorID from nycdatah_csv group by tpep_pickup_datetime, VendorID order by VendorID,tpep_pickup_datetime

tpep_pickup_datetime,sum(CAST(total_amount AS DOUBLE)),VendorID
01-01-2018 00:00,47.1,1
01-01-2018 00:01,16.1,1
01-01-2018 00:02,15.35,1
01-01-2018 00:03,12.7,1
01-01-2018 00:04,20.65,1
01-01-2018 00:05,63.14999999999999,1
01-01-2018 00:06,157.89999999999998,1
01-01-2018 00:07,70.7,1
01-01-2018 00:08,148.43,1
01-01-2018 00:09,102.75,1
01-01-2018 00:10,53.65,1
01-01-2018 00:11,80.77,1
01-01-2018 00:12,137.51999999999998,1
01-01-2018 00:13,154.25,1
01-01-2018 00:14,101.44999999999999,1
01-01-2018 00:15,95.1,1
01-01-2018 00:16,186.68000000000004,1
01-01-2018 00:17,255.25,1
01-01-2018 00:18,110.96999999999998,1
01-01-2018 00:19,66.5,1
01-01-2018 00:20,238.04999999999995,1
01-01-2018 00:21,114.8,1
01-01-2018 00:22,181.93000000000006,1
01-01-2018 00:23,216.31000000000003,1
01-01-2018 00:24,83.0,1
01-01-2018 00:25,160.25,1
01-01-2018 00:26,212.26000000000005,1
01-01-2018 00:27,162.20000000000002,1
01-01-2018 00:28,239.76000000000005,1
01-01-2018 00:29,169.44,1
01-01-2018 00:30,181.14999999999998,1
01-01-2018 00:31,180.56,1
01-01-2018 00:32,305.4100000000001,1
01-01-2018 00:33,142.0,1
01-01-2018 00:34,118.34999999999998,1
01-01-2018 00:35,133.81,1
01-01-2018 00:36,200.65000000000003,1
01-01-2018 00:37,75.19999999999999,1
01-01-2018 00:38,166.60000000000005,1
01-01-2018 00:39,71.5,1
01-01-2018 00:40,186.61000000000004,1
01-01-2018 00:41,170.10000000000002,1
01-01-2018 00:42,130.6,1
01-01-2018 00:43,146.1,1
01-01-2018 00:44,137.75,1
01-01-2018 00:45,185.21000000000004,1
01-01-2018 00:46,235.35000000000002,1
01-01-2018 00:47,216.95000000000005,1
01-01-2018 00:48,313.29,1
01-01-2018 00:49,111.75000000000001,1
01-01-2018 00:50,246.46000000000004,1
01-01-2018 00:51,96.9,1
01-01-2018 00:52,169.80000000000004,1
01-01-2018 00:53,114.89999999999999,1
01-01-2018 00:54,90.35,1
01-01-2018 00:55,263.93,1
01-01-2018 00:56,79.61999999999999,1
01-01-2018 00:57,182.88,1
01-01-2018 00:58,355.52000000000004,1
01-01-2018 00:59,102.00999999999999,1
01-01-2018 00:01,15.100000000000001,2
01-01-2018 00:02,9.3,2
01-01-2018 00:03,131.82000000000002,2
01-01-2018 00:04,6.8,2
01-01-2018 00:05,35.260000000000005,2
01-01-2018 00:06,116.22,2
01-01-2018 00:07,72.19,2
01-01-2018 00:08,176.34000000000003,2
01-01-2018 00:09,90.77,2
01-01-2018 00:10,33.8,2
01-01-2018 00:11,98.98,2
01-01-2018 00:12,78.29,2
01-01-2018 00:13,124.98999999999998,2
01-01-2018 00:14,147.41,2
01-01-2018 00:15,79.11999999999999,2
01-01-2018 00:16,79.82,2
01-01-2018 00:17,64.16,2
01-01-2018 00:18,131.13,2
01-01-2018 00:19,133.28,2
01-01-2018 00:20,152.1,2
01-01-2018 00:21,94.55000000000001,2
01-01-2018 00:22,126.08,2
01-01-2018 00:23,196.74000000000004,2
01-01-2018 00:24,196.58000000000004,2
01-01-2018 00:25,105.07000000000001,2
01-01-2018 00:26,85.02,2
01-01-2018 00:27,170.27,2
01-01-2018 00:28,148.93,2
01-01-2018 00:29,168.22000000000003,2
01-01-2018 00:30,209.73000000000002,2
01-01-2018 00:31,120.61,2
01-01-2018 00:32,193.83000000000004,2
01-01-2018 00:33,68.7,2
01-01-2018 00:34,106.48,2
01-01-2018 00:35,170.78,2
01-01-2018 00:36,89.62,2
01-01-2018 00:37,274.5400000000001,2
01-01-2018 00:38,74.02,2
01-01-2018 00:39,165.68,2
01-01-2018 00:40,54.86,2
01-01-2018 00:41,181.38000000000005,2
01-01-2018 00:42,37.0,2
01-01-2018 00:43,57.31999999999999,2
01-01-2018 00:44,179.67000000000002,2
01-01-2018 00:45,152.89000000000001,2
01-01-2018 00:46,152.42,2
01-01-2018 00:47,94.9,2
01-01-2018 00:48,154.5,2
01-01-2018 00:49,144.32,2
01-01-2018 00:50,77.19,2
01-01-2018 00:51,92.75,2
01-01-2018 00:52,144.21,2
01-01-2018 00:53,89.24,2
01-01-2018 00:54,56.06,2
01-01-2018 00:55,48.14,2
01-01-2018 00:56,185.89000000000001,2
01-01-2018 00:57,187.72000000000003,2
01-01-2018 00:58,62.459999999999994,2
01-01-2018 00:59,74.31,2
01-01-2018 01:00,82.83999999999999,2
01-01-2018 01:01,23.060000000000002,2
01-01-2018 01:02,0.0,2
01-01-2018 23:58,6.96,2
31-12-2017 12:12,15.18,2
31-12-2017 12:33,15.34,2
31-12-2017 12:52,14.8,2
31-12-2017 21:59,14.75,2
31-12-2017 22:10,15.8,2
31-12-2017 22:35,21.36,2
31-12-2017 23:57,60.4,2
31-12-2017 23:59,37.0,2

In [6]:
%sql
select count(distinct(tpep_pickup_datetime)) from nycdatah_csv;

count(DISTINCT tpep_pickup_datetime)
72

In [7]:
import pyspark.sql.functions as func

df1.groupBy("tpep_pickup_datetime", "VendorID").sum('total_amount').orderBy("VendorID","tpep_pickup_datetime").select("VendorID","tpep_pickup_datetime",func.col("sum(total_amount)").alias("avg_fare")).show()

In [8]:
%sql
select sum(total_amount) as mcount,payment_type, tpep_pickup_datetime from nycdatah_csv group by payment_type,tpep_pickup_datetime order by payment_type

mcount,payment_type,tpep_pickup_datetime
221.74000000000004,1,01-01-2018 00:13
150.17,1,01-01-2018 00:27
174.47,1,01-01-2018 00:31
41.599999999999994,1,31-12-2017 23:57
168.63,1,01-01-2018 00:34
71.24,1,01-01-2018 01:00
12.35,1,01-01-2018 00:04
121.22000000000001,1,01-01-2018 00:03
15.34,1,31-12-2017 12:33
204.27999999999997,1,01-01-2018 00:37
167.56,1,01-01-2018 00:14
227.4,1,01-01-2018 00:57
277.78,1,01-01-2018 00:30
241.56,1,01-01-2018 00:29
83.02000000000001,1,01-01-2018 00:15
245.05,1,01-01-2018 00:47
179.4,1,01-01-2018 00:18
141.10999999999999,1,01-01-2018 00:17
101.24,1,01-01-2018 00:53
153.62000000000003,1,01-01-2018 00:09
78.89,1,01-01-2018 00:07
200.97000000000003,1,01-01-2018 00:46
231.39000000000001,1,01-01-2018 00:50
14.75,1,31-12-2017 21:59
149.35000000000002,1,01-01-2018 00:21
150.41,1,01-01-2018 00:12
324.3800000000001,1,01-01-2018 00:58
71.62,1,01-01-2018 00:19
193.42,1,01-01-2018 00:06
5.3,1,01-01-2018 00:01
131.17000000000002,1,01-01-2018 00:49
15.18,1,31-12-2017 12:12
252.29999999999998,1,01-01-2018 00:45
44.209999999999994,1,01-01-2018 00:05
238.41000000000003,1,01-01-2018 00:52
148.32000000000002,1,01-01-2018 00:25
185.82000000000002,1,01-01-2018 00:38
127.61999999999998,1,01-01-2018 00:59
37.0,1,31-12-2017 23:59
136.65,1,01-01-2018 00:51
176.38000000000005,1,01-01-2018 00:24
192.05,1,01-01-2018 00:23
15.35,1,01-01-2018 00:02
136.95,1,01-01-2018 00:08
186.57000000000002,1,01-01-2018 00:36
257.75,1,01-01-2018 00:48
246.10000000000002,1,01-01-2018 00:16
305.04,1,01-01-2018 00:32
209.14999999999998,1,01-01-2018 00:20
111.30000000000001,1,01-01-2018 00:42
61.71,1,01-01-2018 00:40
82.14999999999999,1,01-01-2018 00:10
21.36,1,31-12-2017 22:35
271.39000000000004,1,01-01-2018 00:28
130.45000000000002,1,01-01-2018 00:11
256.87,1,01-01-2018 00:55
215.91,1,01-01-2018 00:56
241.12000000000003,1,01-01-2018 00:44
6.96,1,01-01-2018 23:58
234.41000000000003,1,01-01-2018 00:22
57.36,1,01-01-2018 00:54
301.98,1,01-01-2018 00:41
141.12,1,01-01-2018 00:43
107.91999999999999,1,01-01-2018 00:26
5.76,1,01-01-2018 01:01
197.29,1,01-01-2018 00:35
194.78,1,01-01-2018 00:39
100.0,1,01-01-2018 00:33
210.04000000000005,2,01-01-2018 00:48
75.6,2,01-01-2018 00:52
23.3,2,01-01-2018 00:03
5.3,2,01-01-2018 00:10
62.3,2,01-01-2018 00:43
77.0,2,01-01-2018 00:45
143.2,2,01-01-2018 00:57
124.89999999999999,2,01-01-2018 00:49
162.46000000000004,2,01-01-2018 00:40
55.2,2,01-01-2018 00:55
81.3,2,01-01-2018 00:14
25.900000000000002,2,01-01-2018 00:01
187.82,2,01-01-2018 00:08
15.100000000000001,2,01-01-2018 00:04
102.89999999999999,2,01-01-2018 00:53
181.00000000000003,2,01-01-2018 00:20
65.39999999999999,2,01-01-2018 00:12
11.6,2,01-01-2018 01:00
106.49999999999999,2,01-01-2018 00:28
56.3,2,01-01-2018 00:42
93.6,2,01-01-2018 00:58
73.6,2,01-01-2018 00:22
107.3,2,01-01-2018 00:35
128.16,2,01-01-2018 00:19
116.99999999999999,2,01-01-2018 00:25
40.699999999999996,2,01-01-2018 00:41
163.5,2,01-01-2018 00:27
194.20000000000005,2,01-01-2018 00:32
9.3,2,01-01-2018 00:02
14.8,2,31-12-2017 12:52
20.4,2,01-01-2018 00:16
67.1,2,01-01-2018 00:38
49.599999999999994,2,01-01-2018 00:56
103.19999999999999,2,01-01-2018 00:24
126.69999999999997,2,01-01-2018 00:31
131.16,2,01-01-2018 00:37
113.1,2,01-01-2018 00:30
57.5,2,01-01-2018 00:13
89.05,2,01-01-2018 00:54
52.900000000000006,2,01-01-2018 00:18
46.400000000000006,2,01-01-2018 00:50
53.0,2,01-01-2018 00:51
17.3,2,01-01-2018 01:01
91.19999999999999,2,01-01-2018 00:15
212.70000000000005,2,01-01-2018 00:23
98.89999999999999,2,01-01-2018 00:36
47.1,2,01-01-2018 00:00
39.900000000000006,2,01-01-2018 00:09
18.8,2,31-12-2017 23:57
76.3,2,01-01-2018 00:44
15.8,2,31-12-2017 22:10
186.80000000000004,2,01-01-2018 00:46
64.0,2,01-01-2018 00:07
110.69999999999999,2,01-01-2018 00:33
54.2,2,01-01-2018 00:05
60.0,2,01-01-2018 00:21
49.3,2,01-01-2018 00:11
151.5,2,01-01-2018 00:17
181.56000000000006,2,01-01-2018 00:26
56.2,2,01-01-2018 00:34
66.8,2,01-01-2018 00:47
96.1,2,01-01-2018 00:29
42.400000000000006,2,01-01-2018 00:39
4.3,2,01-01-2018 01:02
80.7,2,01-01-2018 00:06
48.7,2,01-01-2018 00:59
9.8,3,01-01-2018 00:18
26.8,3,01-01-2018 00:17
14.3,3,01-01-2018 00:37
7.8,3,01-01-2018 00:26
8.8,3,01-01-2018 00:45
10.8,3,01-01-2018 00:28
17.3,3,01-01-2018 00:40
45.86,3,01-01-2018 00:50
4.8,3,01-01-2018 00:36
-4.3,4,01-01-2018 01:02
8.3,4,01-01-2018 00:23
18.8,4,01-01-2018 00:27
-12.3,4,01-01-2018 00:38
8.8,4,01-01-2018 00:41

In [9]:
import pyspark.sql.functions as func
df1.groupBy("payment_type","tpep_pickup_datetime").sum('total_amount').orderBy("payment_type","tpep_pickup_datetime").select(func.col("sum(total_amount)").alias("mcount"),"payment_type","tpep_pickup_datetime").show()

In [10]:
%sql
select VendorID, sum(total_amount) as amt, sum(passenger_count), sum(trip_distance) from nycdatah_csv where tpep_pickup_datetime like '01-01-2018%' group by VendorID order by amt desc limit 2

VendorID,amt,sum(CAST(passenger_count AS DOUBLE)),sum(CAST(trip_distance AS DOUBLE))
1,8786.280000000024,888.0,1606.9999999999998
2,6882.42000000003,737.0,1296.2399999999998

In [11]:
import pyspark.sql.functions as func
df2=df1.where(col("tpep_pickup_datetime").like('01-01-2018%')

In [12]:
df1.filter(df1.tpep_pickup_datetime.like('01-01-2018%'))
df1.groupBy("VendorID").sum("total_amount","passenger_count","trip_distance")    .orderBy('sum(total_amount)').select("VendorID",func.col("sum(total_amount)").alias("amt"),func.col("sum(passenger_count)").alias("pcount"),func.col("sum(trip_distance)").alias("distance")).show()